[submodule "Shared"]
	path = Shared
	url = https://github.com/intel-restricted/nvl.common.git
[submodule "Modules/CLK"]
	path = Modules/CLK
	url = https://github.com/intel-restricted/applications.manufacturing.ate-test.torch.client.nvl.clk-pg.git
[submodule "Modules/PTH_BGR"]
	path = Modules/PTH_BGR
	url = https://github.com/intel-restricted/applications.manufacturing.ate-test.torch.client.nvl.pth-bgr-pg.git
