# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.mtpl text eol=crlf
*.flw text eol=crlf
*.usrv text eol=crlf
*.mtproj text eol=crlf
*.json text eol=crlf
*.mconfig text eol=crlf
*.py text eol=crlf
*.cs text eol=crlf
*.xml text eol=crlf
*.bat text eol=crlf
*.tcg text eol=crlf
*.csv text eol=crlf
*.cache text eol=crlf
*.env text eol=crlf
*.sbdefs text eol=crlf
