*.compare

# Intellij/Pycharm
*.iml
.idea

# Common Unix Files
*.log
*.bak
*.bk
.vs
*.pyc
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
jupyter/

# Flask stuff:
instance/
.webassets-cache
.cache-directory

# Environments
.env
.venv
env/
venv/
ENV/
.cache/
.vscode/
.vscode_server_dont_remove/

# Unit test / coverage reports
htmlcov/
coverage_html_report
.coverage_html_report
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
