###################
# To learn more about .editorconfig see https://dev.azure.com/mit-is/TorchWiki/_wiki/wikis/TorchWiki.wiki/12939/Configure-Errors-Severity and https://aka.ms/editorconfigdocs

# How to use .editorconfig: 
# Enter file filter: all files [*.*]  |  extension [*.mtpl]  | specific file name [somefile.usrv]
# Enter severity override: torch_diagnostic.[Errorcode].severity = {error\warning\suggestion\none\default}

# Example: 
# [*.mconfig]
# torch_diagnostic.TP0072.severity = warning 
###################
[*.imp]
torch_diagnostic.TP0004.severity = warning
[*.mtpl]
torch_diagnostic.TP0102.severity = warning
[*.imp]
torch_diagnostic.TP0220.severity = warning
[*.usrv]
torch_diagnostic.TP0325.severity = warning
[*.env]
torch_diagnostic.TP0460.severity = warning
[*.tcg]
torch_diagnostic.TP0090.severity = none
[*.mconfig]
torch_diagnostic.TP0332.severity = warning
[*.tpconfig]
torch_diagnostic.TP0332.severity = warning
[*.tpproj]
torch_diagnostic.TP0332.severity = warning
[*.tcg]
torch_diagnostic.TP0214.severity = warning